<header class="header">

  <!-- IZQUIERDA -->
  <div class="header-left">
    <button class="menu-btn" (click)="onToggleMenu()">
      <span class="material-symbols-outlined">menu</span>
    </button>

    <h1>Panel de Control</h1>
  </div>

  <!-- DERECHA -->
  <div class="header-right">

    <!-- <div class="search-box">
      <span class="material-symbols-outlined">search</span>
      <input type="text" placeholder="Buscar vehículo..." />
    </div>-->
    <!--
    
<button class="icon-btn">
      <span class="material-symbols-outlined">notifications</span>
    </button>

    <button class="icon-btn">
      <span class="material-symbols-outlined">settings</span>
    </button>-->


  </div>

</header>