.login-page {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f7f9fb;
  padding: 20px; /* clave */
}
.login-container {
  width: 100%;
  max-width: 420px;
  max-height: 100%;
  overflow: hidden;
 
}
/* FONDO DIFUMINADO */
.background-blur::before,
.background-blur::after {
  content: '';
  position: absolute;
  border-radius: 50%;
  filter: blur(120px);
  opacity: 0.4;
}

.background-blur::before {
  width: 400px;
  height: 400px;
  background: #d8e2ff;
  top: -100px;
  left: -100px;
}

.background-blur::after {
  width: 300px;
  height: 300px;
  background: #d5e3fc;
  bottom: -100px;
  right: -100px;
}

/* CONTENEDOR */
.login-container {
  width: 100%;
  max-width: 420px;
  z-index: 1;
}

/* LOGO */
.logo-section {
  text-align: center;
  margin-bottom: 30px;
}

.logo-box {
  width: 56px;
  height: 56px;
  background: #005ac2;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  box-shadow: 0 10px 20px rgba(0, 90, 194, 0.2);
}

.logo-box span {
  color: white;
  font-size: 28px;
}

/* CARD */
.login-card {
  background: white;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 12px 40px rgba(0, 0, 0, 0.05);
}

/* TITLES */
.login-card h2 {
  margin-bottom: 5px;
}

.subtitle {
  color: #6b7280;
  font-size: 14px;
  margin-bottom: 20px;
}

/* INPUT */
.input-group {
  display: flex;
  align-items: center;
  background: #eef2f6;
  padding: 12px;
  border-radius: 8px;
  margin-bottom: 15px;
  gap: 8px;
}

.input-group input {
  border: none;
  background: transparent;
  outline: none;
  flex: 1;
}

.input-group span {
  color: #9ca3af;
}

.eye {
  cursor: pointer;
}

/* ERROR */
.invalid {
  border: 1px solid red;
}

/* LINKS */
.forgot {
  text-align: right;
  font-size: 12px;
  margin-bottom: 10px;
}

.forgot a {
  color: #2563eb;
  text-decoration: none;
}

/* REMEMBER */
.remember {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-bottom: 15px;
  font-size: 13px;
}

/* BUTTON */
button {
  width: 100%;
  padding: 12px;
  background: #005ac2;
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s;
}

button:hover {
  background: #004fab;
}

button:disabled {
  opacity: 0.6;
}

/* DIVIDER */
.divider {
  margin: 25px 0;
  text-align: center;
  font-size: 12px;
  color: #9ca3af;
  border-top: 1px solid #e5e7eb;
  padding-top: 10px;
}

/* REGISTER */
.register {
  text-align: center;
  font-size: 14px;
}

.register a {
  color: #2563eb;
  font-weight: bold;
  text-decoration: none;
}

/* FOOTER */
.footer {
  text-align: center;
  font-size: 11px;
  color: #9ca3af;
  margin-top: 20px;
}